In [3]:
import pandas as pd

dataset = pd.read_csv('data/hate_speech.csv')
dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
dataset.shape

(5242, 3)

In [7]:
dataset.label.value_counts()

label
0    3000
1    2242
Name: count, dtype: int64

In [13]:
for index, tweet in enumerate(dataset["tweet"][10:15]):
    print(index+1,"-",tweet)

1 -  â #ireland consumer price index (mom) climbed from previous 0.2% to 0.5% in may   #blog #silver #gold #forex
2 - we are so selfish. #orlando #standwithorlando #pulseshooting #orlandoshooting #biggerproblems #selfish #heabreaking   #values #love #
3 - i get to see my daddy today!!   #80days #gettingfed
4 - ouch...junior is angryð#got7 #junior #yugyoem   #omg
5 - i am thankful for having a paner. #thankful #positive

In [15]:
import re
def clean_text(text):
    text=re.sub(r'[^a-zA-Z\']', ' ',text)
    text=re.sub(r'[^\x00-\x7F]+',' ' ,text)
    text=text.lower()
    return text

In [17]:
dataset['clean_text'] = dataset.tweet.apply(lambda x: clean_text(x))

In [19]:
dataset.head(10)

,id,label,tweet,clean_text
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is s...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i can't us...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
4,5,0,factsguide: society now #motivation,factsguide society now motivation
5,6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before the...
6,7,0,@user camping tomorrow @user @user @user @use...,user camping tomorrow user user user use...
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for exams ...
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champ...
9,10,0,@user @user welcome here ! i'm it's so #gr...,user user welcome here i'm it's so gr...

In [23]:
from nltk.corpus import stopwords
len(stopwords.words('english'))

179

In [25]:
stop=stopwords.words('english')

In [29]:
def gen_freq(text):
    word_list = []
    for word in text.split():
        word_list.extend(word)
    word_freq = pd.Series(word_list).value_counts()
    word_freq = word_freq.drop(stop, error='ignore')
    return word_freq

In [31]:
def any_neg(words):
  for word in words:
    if word in ['n', 'no', 'non', 'not'] or re.search(r"\wn't", word):
      return 1
    else:
      return 0

In [33]:
def  any_rare(words, rare_100):
    for word in words:
        if word in rare_100:
            return 1
        else:
            return 0

In [35]:
def is_question(words):
  for word in words:
    if word in ['when', 'what', 'how', 'why', 'who']:
      return 1
    else:
      return 0

In [ ]:
word_freq = gen_freq(dataset.clean_text.str)
rare_100 = word_freq